#container {
    position: relative;
    width: 810px;
    margin: 0 auto;
}

.goodBye {
    position: absolute;
    margin: 0 auto;
}

.image1 {
    position: absolute;
    top: 20px;
}

.image2 {
    position: absolute;
    top: 50px;
    left: 315px;
}

h1 {
    position: absolute;
    top: 500px;
    width: 300px;
    left: 255px;
    text-align: center;
}