* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

#container {
    margin: 0 auto;
    max-width: 1920px;
    text-align: center;
}

header {
    box-shadow: 2px 2px 12px 0px rgb(127, 126, 126);
}

#titleNav {
    width: 960px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 auto;
}

#logo img {
    padding: 5px;
}

nav {
    padding-top: 5px;
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
}

nav ul li {
    margin: 8px;
    padding: 2px;
    background-color: white;
    border-radius: 7px;
    border-style: inset;
    border-width: 2px;
}

nav ul li a {
    text-decoration: none;
}

main {
    position: relative;
    height: fit-content;
}

#section1 {
    max-width: 960px;
    height: 200px;
    background-color: #cccccc;
    margin: 0 auto;
}

form {
    position: relative;
    width: 606px;
    margin: 0 auto;
    padding-top: 30px;
}

#postButton {
    background-color: rgb(255, 94, 0);
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    border-color: white;
    border-style: ridge;
    position: absolute;
    right: 0;
}

#postContent {
    border-color: rgb(255, 94, 0);
}

form a {
    color: rgb(255, 94, 0);
    position: absolute;
    left: 0;
    top: 130px;
    text-decoration: none;
}

form a img {
    display: inline;
}

#section2 {
    position: absolute;
    right: 0;
    width: 240px;
    height: 200px;
    top: 0px;
    box-shadow: 2px 2px 12px 0px rgb(127, 126, 126);
}

footer {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    box-shadow: 2px 2px 12px 0px rgb(127, 126, 126);
    background-color: white;
    padding-top: 15px;
    padding-bottom: 8px;
    padding-right: 15px;
    clear: both;
    position: fixed;
    top: 93%;
    width: 100%;
}

footer p {
    color: rgb(142, 67, 146);
    font-size: 16px;
    padding-bottom: 13px;
    font-family: monoton;
}

#copyRight {
    font-weight: bold;
}

@media (max-width:480px) {
    #copyRight {
        font-size: 14px;
        padding-bottom: 8px;
    }
}