* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

#container {
    margin: 0 auto;
    position: relative;
    max-width: 1920px;
}


/*header*/

header {
    box-shadow: 2px 2px 12px 0px rgb(127, 126, 126);
    background-color: white;
}

#header1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 5px;
    padding-left: 150px;
    padding-right: 150px;
}

#authentication {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#logo img {
    margin-left: 39px;
}

#logo h2 {
    color: rgb(142, 67, 146);
}

#logIn {
    display: block;
    color: rgb(197, 125, 201);
    text-decoration: none;
    padding: 15px;
    font-size: 22px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    height: 60px;
    margin-top: 15px;
}

#signUp {
    display: block;
    color: white;
    text-decoration: none;
    background-color: rgb(197, 125, 201);
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 6px;
    font-size: 22px;
    text-align: center;
    height: 50px;
    margin-top: 15px;
    margin-left: 20px;
}


/* main */

main {
    height: fit-content;
}

main img {
    top: 0;
    left: 0;
    opacity: 0.9;
    width: 100%;
    max-width: 1920px;
}

#section1 {
    width: auto;
}

#section1 h1 {
    color: rgb(142, 67, 146);
    font-size: 30px;
}

.text {
    text-align: center;
    text-shadow: 8px 2px 16px white;
    top: 420px;
    right: 50px;
    position: absolute;
}

.info {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1920px;
    background-color: white;
}

#about-us {
    margin: 80px;
    margin-top: 50px;
    padding: 73px;
    background-repeat: no-repeat;
    background-color: rgb(197, 125, 201);
    background-image: url(../images/about_us.png);
    border-radius: 71px;
    background-position: center;
}

#guide {
    margin: 80px;
    margin-top: 50px;
    padding: 73px;
    background-repeat: no-repeat;
    background-color: rgb(197, 125, 201);
    background-image: url(../images/guide.png);
    border-radius: 71px;
    background-position: center;
}

#resources {
    margin: 80px;
    margin-top: 50px;
    padding: 73px;
    background-repeat: no-repeat;
    background-color: rgb(197, 125, 201);
    background-image: url(../images/resources.png);
    border-radius: 71px;
    background-position: center;
}


/*footer*/

footer {
    margin-top: calc(69% + 28px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    box-shadow: 2px 2px 12px 0px rgb(127, 126, 126);
    background-color: white;
    padding-top: 15px;
    padding-bottom: 8px;
    padding-right: 15px;
}

footer p {
    color: rgb(142, 67, 146);
    font-size: 16px;
    padding-bottom: 13px;
    font-family: monoton, cursive;
}

#copyRight {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}