* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

#container {
    margin: 0 auto;
    max-width: 1920px;
    text-align: center;
    padding-top: 35px;
}

.title {
    width: 500px;
    margin: 0 auto;
}

#logo img {
    margin-left: 211px;
}

.title a {
    text-decoration: none;
}

@media (max-width:480px) {
    .title {
        width: 300px;
    }
    #logo img {
        margin-left: 111px;
    }
}

h1 {
    font-size: 48px;
    color: rgb(142, 67, 146);
    line-height: 24px;
}

h2 {
    color: rgb(142, 67, 146);
}

h3 {
    color: rgb(144, 115, 121);
    margin-top: 35px;
    font-size: 20px;
}

h3 a {
    text-decoration: none;
    color: rgb(255, 221, 0);
}

h4 {
    font-size: 17px;
    color: rgb(142, 67, 146);
}

#signUpLink {
    font-size: 17px;
    color: rgb(144, 115, 121);
}

#signUpLink a {
    text-decoration: none;
    color: rgb(255, 221, 0);
}

h5 {
    color: rgb(142, 67, 146);
}

h6 {
    font-size: 14px;
    color: rgb(93, 74, 78);
}

h6 a {
    text-decoration: none;
    color: rgb(255, 221, 0);
}

#signUpBox {
    box-shadow: 1px 1px 10px 2px rgb(177, 177, 177);
    background-color: white;
    height: 260px;
    width: 360px;
    border-radius: 8px;
    margin: 0 auto;
    border-style: outset;
    padding-left: 20px;
    padding-right: 20px;
}

#signUpBox1 {
    box-shadow: 1px 1px 10px 2px rgb(177, 177, 177);
    background-color: white;
    height: 160px;
    width: 360px;
    border-radius: 8px;
    margin: 0 auto;
    border-style: outset;
    padding-left: 20px;
    padding-right: 20px;
}

#signUpBox a {
    text-decoration: none;
}

.signUpEmail {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(144, 115, 121);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.signUpEmail p {
    color: white;
    font-size: 20px;
    padding-left: 10px;
}

.signUpEmail img {
    padding-top: 1px;
}

.emailIcon {
    border-right: solid 2px white;
    padding-right: 10px;
}

#member {
    margin-top: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    box-shadow: 2px 2px 12px 0px rgb(127, 126, 126);
    background-color: white;
    padding-top: 15px;
    padding-bottom: 8px;
    padding-right: 15px;
    clear: both;
    position: fixed;
    top: 93%;
    width: 100%;
}

footer p {
    color: rgb(142, 67, 146);
    font-size: 16px;
    padding-bottom: 13px;
    font-family: monoton;
}

#copyRight {
    font-weight: bold;
}

@media (max-width:480px) {
    #copyRight {
        font-size: 14px;
        padding-bottom: 8px;
    }
}

#email {
    padding: 8px;
    font-size: 16px;
}

#submitButton {
    margin-left: -4px;
    padding: 9px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 17px;
    font-weight: bolder;
    background-color: rgb(255, 106, 0);
    color: white;
    border-style: none;
}

label {
    text-align: left;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}


/* Extra styles for the cancel button */

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}


/* Float cancel and signup buttons and add an equal width */

.cancelbtn,
.signupbtn {
    float: left;
    width: 50%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* Change styles for cancel button and signup button on extra small screens */

@media screen and (max-width: 300px) {
    .cancelbtn,
    .signupbtn {
        width: 100%;
    }
}